<div class="calculator">
    <div class="calculator-display">
        <p>0</p>
    </div>
    <div class="calculator-buttons">
        <ul class="calculator-buttons-list">
            <li class="manage" id="clearAndForget">AC</li>
            <li class="manage" id="cancelLastPperation">CE</li>
            <li class="calculator-operation">&#37;</li>
            <li class="calculator-operation">&#42;</li>
            <li class="calculator-numbers">7</li>
            <li class="calculator-numbers">8</li>
            <li class="calculator-numbers">9</li>
            <li class="calculator-operation">&#8722;</li>
            <li class="calculator-numbers">4</li>
            <li class="calculator-numbers">5</li>
            <li class="calculator-numbers">6</li>
            <li class="calculator-operation">&#43;</li>
            <li class="calculator-numbers">1</li>
            <li class="calculator-numbers">2</li>
            <li class="calculator-numbers">3</li>
            <li id="calculator-equal">=</li>
            <li class="calculator-numbers">0</li>
            <li class="calculator-numbers">.</li>
        </ul>
    </div>
</div>